
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayaut.cshtml";
}

<h3>Excel Raporları</h3>
<a href="/admin/excel/StaticExcelReport/" class="btn btn-outline-primary">Static Excel Rappru</a>
<br />
<br />
<br />
<a href="/admin/excel/DestinationExcelReport/" class="btn btn-outline-success">Destination Excel Rappru</a>

