
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayaut.cshtml";
}

<h3>Pdf Raporları</h3>

<a href="/admin/pdfreport/StaticPdfReport" class="btn btn-outline-primary">Static Pdf Raporu</a>
<br />
<br />
<br />
<a href="/admin/pdfreport/StaticCustomerReport" class="btn btn-outline-warning">Static Misafir Raporu</a>