
<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <span class="avatar">
                    <img src="~/member2/theme-assets/images/portrait/small/avatar-s-2.png" alt="avatar">
                </span>
                <span class="avatar">
                    <img src="~/member2/theme-assets/images/portrait/small/avatar-s-3.png" alt="avatar">
                </span>
                <span class="avatar">
                    <img src="~/member2/theme-assets/images/portrait/small/avatar-s-4.png" alt="avatar">
                </span>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Aktif Rezervasyon Sayınız:</h4>
                <p class="card-text"> 2 </p>
                <h4 class="card-title">Geçmiş Rezervasyon Sayınız:</h4>
                <p class="card-text"> 2 </p>
                <h4 class="card-title">Onaylanan Rezervasyon Sayınız:</h4>
                <p class="card-text"> 2 </p>

                <h4 class="card-title">Toplam Rota Sayısı:</h4>
                <p class="card-text"> 2 </p>
                <h4 class="card-title">Rehber Sayımız:</h4>
                <p class="card-text"> 2 </p>
                <h4 class="card-title">Toplam Misafir Sayısı:</h4>
                <p class="card-text"> 2 </p>

                <h4 class="card-title">Ortalama Puanımız:</h4>
                <p class="card-text"> 2 </p>



            </div>
        </div>
    </div>
</div>
