@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayaut.cshtml";
}

<h3>Tur Rotaları</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Şehir</th>
        <th>Fiyat</th>
        <th>Kapasite</th>
        <th>Sitede Gör</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>#</td>
            <td>@item.City</td>
            <td>@item.Price</td>
            <td>@item.Capasity</td>
            <td>
                <a href="/admin/Destination/Details/@item.Id" class="btn btn-outline-info">Sitede Gör</a>
               </td>
            <td> <a href="/admin/Destination/DeleteDestination/@item.Id" class="btn btn-outline-danger">Sil</a></td>
            <td> <a href="/admin/destination/updatedestination/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
        </tr>

    }

</table>
<a href="/admin/destination/adddestination/" class="btn btn-outline-primary">Yeni Tur Rotası</a>