
@{
    ViewData["Title"] = "GetCityDestId";
    Layout = "~/Views/Shared/_AdminLayaut.cshtml";
}

<h4>Booking otel  id Getirme</h4>
<form method="post">
    <label>İsim Giriniz</label>
    <input type="text" name="p"  class="form-control"/>
    <input type="submit" value="Id Getir" class="btn btn-outline-primary"/>
</form>

