@model ForgetPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <h3>Şifre Yenileme Sayfası</h3>
    <div class="row">
     
        <form method="post">
            <label>Mail Adresinizi Giriniz:</label>
            <input type="text" asp-for="Mail" class="form-control" />
            <input type="submit" value="Şifre Yenileme Linki Gönder"  class="btn btn-outline-primary"/>
        </form>
    </div>
</div>