
@{
    ViewData["Title"] = "UPdateAnnoucement";
    Layout = "~/Views/Shared/_AdminLayaut.cshtml";
}

@model AnnoucementUpdateDto
@{
    ViewData["Title"] = "AddAnnoucement";
    Layout = "~/Views/Shared/_AdminLayaut.cshtml";
}

<h4> Duyuru Gümcelle</h4>
<form method="post">


    <div class="form-group">
        @Html.Label("Title")
        <input type="text" asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>


    <div class="form-group">
        @Html.Label("Content")
        <textarea asp-for="Content" cols="30" rows="5" class="form-control">
        <span asp-validation-for="Content" class="text-danger"></span>
            </textarea>
    </div>


    <button class="btn btn-outline-primary">Duyuru Güncelle</button>
</form>

