@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Ziyaretçi grafik sayfası</h1>

@section Scripts
    {
    
    <script src="~/lib/microsoft/signalr/dist/webworker/signalr.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {

            var visitChartList = new Array();

            visitChartList.push(["Tarih", "İstanbul", "Ankara", "İzmir", "Antalya", "Bursa"])

            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5611/VisitorHub").build();

            $("#connectionStatus").text(connection.connectionState);

            connection.start().then(() => {
                connection.invoke("GetVisitorList");
                $("#connectionStatus").text(connection.connectionState);
            }).catch((err) => { console.log(err) });


            connection.on("ReceiveVisitorList", (visitList) => {

                visitChartList = visitChartList.splice(0, 1);

                visitList.forEach((item) => {

                    visitChartList.push([item.visitDate, item.counts[0], item.counts[1], item.counts[2], item.counts[3], item.counts[4]])

                })

                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawChart);

            })

            function drawChart() {
                var data = google.visualization.arrayToDataTable(visitChartList);

                var options = {
                    title: 'Traversal Listesi Ziyaretçi Grafigi',
                    curveType: 'none',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }

        })
    </script>

}

<div id="curve_chart" style="width:1200px; height:800px;"></div>